<div class="right-first-border">
	<ul class="right-sidebar-menu">
		<li class="right-sidebar-menu-list">
			<%= link_to "ASK A QUESTION", '/signup', class: "glyphicon glyphicon-plus btn btn-lg btn-primary right-sidebar-menu-list-items" %>
			<hr>
		</li>
		<li class="right-sidebar-menu-list">
			<%= link_to "ASK A QUESTION", '/signup', class: "glyphicon glyphicon-plus btn btn-lg btn-primary right-sidebar-menu-list-items" %>
			<hr>
		</li><li class="right-sidebar-menu-list">
			<%= link_to "ASK A QUESTION", '/signup', class: "glyphicon glyphicon-plus btn btn-lg btn-primary right-sidebar-menu-list-items" %>
			<hr>
		</li><li class="right-sidebar-menu-list">
			<%= link_to "ASK A QUESTION", '/signup', class: "glyphicon glyphicon-plus btn btn-lg btn-primary right-sidebar-menu-list-items" %>
			<hr>
		</li>
		<li>
			<span class="glyphicon glyphicon-question-sign"></span>
		</li>
	</ul>
</div>