
<div class="col-md-12">
  <h1 id="contact", style="margin-left:1%;">Contact</h1>
 <hr>
</div>

<div class="jumbotron" style="margin-left:1%;margin-right:1%;border-radius:20px;margin-bottom:0%;" >
	<div style="margin-left: 2%;">
		<p style="color:black;">For any queries and suggestions,Feel free to contact us<p>
		<p style="color:#1a8cff;"><span style="color: black;">Email:</span> support.qaengine@gmail.com</p>
	</div>
	 <div class="image-size">
	<%=link_to image_tag("fb.png",alt: "facebook", class:"fb"),'https://www.facebook.com/ankitamritraj?fref=ts'%>
	<%=link_to image_tag("github.png",alt: "Github", class: "github"),'https://github.com/toxiccoder/QAengine'%>
	<%=link_to image_tag("twitter.png",alt: "Twitter", class: "twitter"),'https://twitter.com/AkshGautam007?lang=en'%>

	</div>
</div>