<h1 style="text-align: center;color: #222;">Terms of Service</h1>
<p style="text-align: center;font-family: tondo;font-size: 18px;padding: 20px 20px;line-height: 1.4em;color: #525558;">The following document outlines the terms of use of the QAengine website. Before using any of the QAengine services, you are required to read, understand, and agree to these terms. </p>
<br>
<br>
<div style="background-color: #f7f8fa;padding: 20px 20px;font-size: 14px;font-family: tondo; letter-spacing: -0.01em;line-height: 20px;color: #222">
<h4 style="color: #525558;">DESCRIPTION OF SERVICE</h4>
<p>QAengine, Inc. (QAengine or “We”) provides a platform via its website and apps (the “Site”) to a community of registered users (“Users” or “you”) to upload and display photographs and video (“Visual Content”) share comments, opinions and ideas, promote Visual Content collections, participate in contests and promotions, and license Visual Content as part of our Marketplace to other users (the “Services”). Additional Services may be offered by us from time to time. The following are the terms of service (“Terms”) for using the Site and the Services.</p>
<hr>
<h4 style="color: #525558;font-style: serif">ACCEPTANCE OF TERMS</h4>
<p style="text-transform: uppercase;">BY USING THE SERVICES, YOU ARE AGREEING, ON BEHALF OF YOURSELF AND THOSE YOU REPRESENT, TO COMPLY WITH AND BE LEGALLY BOUND BY THESE TERMS AS WELL AS OUR <span style="color: #4486f4">PRIVACY POLICY</span> AND ALL APPLICABLE LAWS. IF YOU, FOR YOURSELF OR ON BEHALF OF THOSE YOU REPRESENT, DO NOT AGREE TO ANY PROVISION OF THESE TERMS, YOU MUST, FOR YOURSELF AND ON BEHALF ANY SUCH PERSON(S), DISCONTINUE THE REGISTRATION PROCESS, DISCONTINUE YOUR USE OF THE SERVICES, AND, IF YOU ARE ALREADY REGISTERED, CANCEL YOUR ACCOUNT.</p>
<hr>
<h4 style="color: #525558;font-style: serif">REGISTRATION</h4>
<p>As a condition to using Services, you are required to open an account with QAengine and select a password and username, and to provide registration information. The registration information you provide must be accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your access to the Services, by either terminating your email access or your account.

You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.

You are responsible for maintaining the confidentiality of your password and are solely responsible for all activities resulting from the use of your password and conducted through your QAengine account.

Services are available authorized representatives of legal entities and to individuals who are either (i) at least 18 years old to access the Marketplace, or (ii) at least 14 years old, and who are authorized to access the Site by a parent or legal guardian. If you have authorized a minor to use the Site, you are responsible for the online conduct of such minor, and the consequences of any misuse of the Site by the minor. Parents and legal guardians are warned that the Site does display Visual Content containing nudity and violence that may be offensive to some.

The Services are for use by a) individuals who own Visual Content; b) entities that represent owners of Visual Content including but not limited to galleries, agents, representatives, distributors other market intermediaries; and c) individuals and entities seeking to license Visual Content. We are currently not accepting illustration and graphic design content to upload on the Site. If you are the owner of the Visual Content, but not the creator, you are not allowed to upload content for the purposes of self advertising.</p>
<hr>
<h4 style="color: #525558;font-style: serif">USER CONDUCT</h4>
<p>All Content posted or otherwise submitted to the Site is the sole responsibility of the account holder from which such Content originates and you acknowledge and agree that you, and not QAengine are entirely responsible for all Content that you post, or otherwise submit to the Site. QAengine does not control user submitted Content and, as such, does not guarantee the accuracy, integrity or quality of such Content. You understand that by using the Site you may be exposed to Content that is offensive, indecent or objectionable.

As a condition of use, you promise not to use the Services for any purpose that is unlawful or prohibited by these Terms, or any other purpose not reasonably intended by QAengine. By way of example, and not as a limitation, you agree not to use the Services:</p>
<ul>
	<li>To abuse, harass, threaten, impersonate or intimidate any person;</li>
	<li>To post or transmit, or cause to be posted or transmitted, any Visual Content or Communications that are libelous, defamatory, obscene, pornographic, abusive, offensive, profane, or that infringes any copyright or other right of any person;</li>
	<li>For any purpose (including posting or viewing Visual Content) that is not permitted under the laws of the jurisdiction where you use the Services;
</li>
<li>To post or transmit, or cause to be posted or transmitted, any Communication designed or intended to obtain password, account, or private information from any QAengine user;
</li>
<li>To create or transmit unwanted ‘spam’ to any person or any URL</li>
<li>To create multiple accounts for the purpose of voting for or against users’ Visual Content;</li>
<li>To post copyrighted Visual Content or other Communications that do not belong to you or, with exception of commenting on Visual Content in Blogs, where you may post such Content with explicit mention of the author’s name and a link to the source of the Content;</li>
<li>With the exception of accessing RSS feeds, you agree not to use any robot, spider, scraper or other automated means to access the Site for any purpose without our express written permission. Additionally, you agree that you will not: (i) take any action that imposes, or may impose in our sole discretion an unreasonable or disproportionately large load on our infrastructure; (ii) interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site; or (iii) bypass any measures we may use to prevent or restrict access to the Site;</li>
<li>To artificially inﬂate or alter vote counts, blog counts, comments, or any other Service or for the purpose of giving or receiving money or other compensation in exchange for votes, or for participating in any other organized effort that in any way artificially alters the results of Services;</li>
<li>To advertise to, or solicit, any user to buy or sell any third party products or services, or to use any information obtained from the Services in order to contact, advertise to, solicit, or sell to any user without their prior explicit consent;</li>
</ul>
<hr>
<h4 style="color: #525558;font-style: serif">GENERAL</h4>
<p>These Terms constitute the entire understanding of the parties and supersede all prior and contemporaneous written and oral agreements with respect to the subject matter hereof. Any rule of construction stating that ambiguities are to be resolved against the drafting party will not be applied in the construction or interpretation of these Terms. If one or more of the provisions herein shall be held invalid, illegal or unenforceable in any respect, the validity, legality and enforcement of the remaining provisions shall not be affected or impaired. Any inconsistency between these Terms in English and these Terms in any other language shall, to the fullest extent permitted by applicable law, be resolved by reference to the English version. The failure to enforce or the waiver by either party of a default or breach of the other party shall not be considered to be a waiver of any prior, subsequent or other default or breach.</p>
</div>