/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* sidebar menu list */

/*body, html {height:100%;}*/
/*.whole-page-padding-top {
	padding-top: 10px;
}
*/
.first-border {
	border-right: 1px solid gray;
	height: 100%;
	/*position: relative;*/
}

.sidebar-menu {
	padding-left: 5%;
}

.sidebar-menu-list{
	list-style: none;
	width: 95%;
	padding-left: 9%;
}
.horizontal-line-margin {
	margin-right: 7%;
}
.sidebar-menu-list-down {
	margin-bottom: 20px;
	list-style: none;
}

.glyphicon-plus {
	font-size: 65%;
}

.sidebar-menu-list-items {
	font-family: inherit;
	color: white;
	font-size: 70%;
	width: 95%;
	padding-top: 7%;
	margin-top: 8%;	
	margin-right: 8%;
}
.sidebar-menu-list-items-down:hover {
	text-decoration:none;
}

.right-first-border {
	border-left: 1px solid gray;
	height: 100%;
	padding: 10px;
	position: relative;
}

.right-sidebar-menu {
	padding-left: 10px;
}

.right-sidebar-menu-list {
	list-style: none;
}
.right-sidebar-menu-list-items {
	font-family: inherit;
	font-size: 15px;
	width: 95%;
	height: 50px;
	padding-top: 15px;
	margin-top: 10px;	
	margin-right: 10px;
}



.mdl-layout {
  align-items: center;
  justify-content: center;
}
.mdl-layout__content {
  padding: 0px;
  flex: none;
}

.glyphicons-color {
	color: #7d8aaf;
}

.glyphicon {
	margin-right: 14px;
}

.tags-width {
	width: 100%;
	text-align: left;
}
.check{
	margin-right:85px;
}
body
{
	overflow-x:hidden;
}
.fix
{
	margin-right: auto;
	margin-left: auto;
}

.wrapper {
	/*display: inline-block;	*/
	width: 100%;
	/*height: 100%;*/
}

.header-sidebar {
	height :100%;
	/*float: left;*/
	/*width: 15%;*/
	/*z-index: 1;*/
}

.mid-area {
	/*float: left;*/
	/*float: left;*/
	height: 100%;
	/*width: 70%;*/
	/*z-index: 0;*/
	/*position: relative;*/
	/*background-color: red;*/
}

.header-right-sidebar {
	width: 15%;
	/*float: right;*/
	/*background-color: red;*/
}

img:hover
{
	opacity: 0.5;
}

.image
{
	padding-left: 300px;
	margin-top: 200px;
}
#contact
{
	color: #337ab7;

}
#contact:hover
{
	color:#063989;
}
.contain
{
	color: black;
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.prof{
	float: left;
}



/*body {
	background: #fff;
	color: #666;
	font: 90%/180% Arial, Helvetica, sans-serif;
	/*width: 800px;
	max-width: 96%;
	margin: 0 auto;
} */

.tag {
	outline: none;
}
.form {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.tag::-webkit-search-decoration,
.tag::-webkit-search-cancel-button {
	display: none; 
}


.form {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 150px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.form:focus {
	width: 250px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.tag:-moz-placeholder {
	color: #999;
}
.tag::-webkit-input-placeholder {
	color: #999;
}
.box
{
	padding-top: 25px;
	padding-right: 30px;
}