 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* sidebar menu list */

/*body, html {height:100%;}*/
/*.whole-page-padding-top {
	padding-top: 10px;
}
*/
ul li {
	margin: 0;
}

li {
	padding: 0;
}

/*---------------------Top Navigation Bar-----------------------*/
.topnavbar {
	background: #2f364a;
	height: 90px;
}

.topnavbar-rightside {
	float: right;
	background-color: #19202e;
	list-style: none;
	margin-bottom: 0px;
	vertical-align: middle;
}

.search-field {
	margin-top: 24px;
	margin-right: 28px;
}

.topnavbar-rightlist {
	float: left;
}

.topnavbar-rightlist-middle {
	padding-top: 34px;
	margin-top: 0px;
	padding-bottom: 31px;
	margin-right: 26px;
}

.topnavbar-rightlist-menu-items {
	font-size: 15px;
	font-family: "Lato";
	color: #73788c;
}

.topnavbar-rightlist-menu-items:hover {
	text-decoration: none;
	color: #ededed;
}

.clearme-right {
	clear:right;
	margin: 0;
}

.clearme-left {
	clear:left;
	margin: 0;
}

#logo {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}

#logo:hover {
	text-decoration: none;
	color: #ededed;
}

/*-------------------------Top Navigation Bar completed----------------------*/

/*-------------------------Wrapping Element inside Application.html.erb----------------------*/

.wrapper {
	padding-top: 1%;
}

.header-sidebar {
	height :100%;
	float: left;
	width: 15%;
}

.mid-area {
	float: left;
	width: 70%;
	border-left: 1px solid grey;
	background-color: #fbfcff;
	/*border-right: 1px solid grey;*/
}

.header-right-sidebar {
	float: left;
	width: 15%;
}

/*--------------------------------------------------------------------------------*/

/*--------------------------------Left Navbar ------------------------------------*/
.leftnavbar {
	padding-left: 5%;
	padding-right: 5%;
	border: 0px;
}


.ask-button-size {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 6%;
	padding-bottom: 6%;
	border: 0%;
	height: 12%;
}

.glyphicon-plus {
	font-size: 110%;
}

.ask-button-content {
	position: relative;
	font-size: 120%;
	margin: 5%;
}

.leftnavbar-lists {
	/*padding-top: 20%;*/
	margin-bottom: 10%;
	padding-bottom: 200%;
	/*align-items: center;*/
}

.horizontal-line-margin {
	margin-bottom: 5%;
}

.leftnavbar-lists {
	padding-bottom: 20%;
}

hr {
	margin-bottom: 0%;
}
.tags-width {
	width: 100%;
	text-align: left;
}
/*--------------------------------------------------------------------------------*/

/*-----------------------------Right Sidebar Menu---------------------------------*/
	
.rightnavbar {
	list-style: none;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	background-color: #eef1f7;
	height: 100%;
}	

.count-values {
	font-size: 230%;
	font-family: "Lato";
	color: black;
}

.count-values:hover {
	text-decoration: none;
}


.count-question {
	border-left: 5px solid #3498db;
	padding-left: 10%;
}

.count-following {
	margin-top: 15%;
	border-left: 5px solid #f2a62e;
	padding-left: 10%;
}

.count-followers {
	margin-top: 15%;
	border-left: 5px solid #3498db;
	padding-left: 10%;
}

.count-member {
	margin-top: 15%;
	padding-left: 10%;
	border-left: 5px solid #f2a62e;
}

.count-text {
	font-family: "Lato";
	font-size: 100%;
	color: #7a838e;
}

/*--------------------------------------------------------------------------------*/

/*---------------------------------Home Page CSS----------------------------------*/


/*-------Top Question Bar------ */
.gravatar {
	border-radius: 60%;
	/*border:1px solid black;*/
	z-index: 100;
}

.question-feed {
	width: 100%;
}

.question-form {
	margin-bottom: 1%;
}

.question-form-button {
	float: right;
	margin-top: 1%;
	margin-right: 13.5%;
}

.question-form-button-size {
	width: 150%;
	border-radius: 50px;
}

.question-form-field {
	width: 90%;
	height: 70px;
	border:0.6px solid gray-lighter;
	border-radius:10px;
	outline: none;
	padding-left: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.tags-form-field {
	width: 40%;
	margin-bottom: 3%;
	margin-top: 1%;
	border-radius:10px;
	border-style: groove;
	outline: none;
	padding-left: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.like:hover {
	text-decoration: none;
}
/*-------------------------------*/

/*-----Display Question Feed section---*/

.content {
	padding-left: 5%;
	padding-right: 5%;
	color: #31353B;
	font-family: "Lato";
	font-size: 14px;
	/*letter-spacing: 1px;*/
	/*width: 100%;*/
}

.nthchild-option:nth-child(odd) {
	background-color: #f4f5f9;
}

.nthchild-option:nth-child(even) {
	background-color: #eef1f7;
}

.microposts {
	padding-left: 0px;
}

.timestamp-question {
	float: right;
	margin-bottom: 0px;
	margin-right: 4.1%;
	font-size: 85%;
}

.question-tags {

}
/*--------------------------------*/

/*-----Display comment section---*/

.comment-field-id {
	display: none;
}

.comment-feed {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
	border-bottom: 0.5px solid #d6d7d8;
}

.timestamp-comment {
	float: right;
	margin-bottom: 0px;
	margin-right: 0%;
	font-size: 85%;	
}

.comment-content {
	/*padding-left: 1%;*/
	color: #31353B;
	font-family: "Lato";
	font-size: 14px;
	/*letter-spacing: 1px;*/
	/*width: 100%;*/
}

.comment-field {
	margin-left: 5%;
}

.comment-field-form {
	width: 80%;
	height: 40px;
	border:0.6px solid gray-lighter;
	border-radius:10px;
	outline: none;
	padding-left: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	/*box-sizing:border-box;*/
	}

.comment-post-button {
	float: right;
	margin-right: 10%;
	/*margin-bottom: 5%;*/
}

.comment-post-button-size {
	width: 150%;
	border-radius: 50px;
}
/*-------------------------------*/

/*--------------------------------------------------------------------------------*/

/*---------------------------------Profile Page-----------------------------------*/

.follow-button-size {
	float: right;
	position: relative;
	top: 143px;
	right:8%;
	/*padding-left: 2%;*/
	/*padding-right: 2%;*/
	border-radius: 50px;
	/*margin-top: 20%;*/
	width: 10%;
	margin-left: 2%;
	margin-top: 1%;

}

/*--------------------------------------------------------------------------------*/

/*-----------------------------Following/Followers Page---------------------------*/

.current-user-section {
	width: 96%;
	margin-left: 1%;
	margin-top: 1%;
}

.user-info {
	/*width: 30%;*/
}

.user-avatars{
	margin-right: 4%;
	/*float: right;*/
}

.stats {
	/*float: right;*/
}

.current-user-following {
	margin-left: 1%;
	/*float: right;*/
	/*padding-bottom: 30%;*/
}

.users-follow-panel {
	list-style: none;
	width: 93%;
	margin-top: 2%;
	padding-top: 2%;
}

.show-all-followers {
	float: left;
}


/*--------------------------------------------------------------------------------*/

/*---------------------------------Search Page------------------------------------*/

.search-all-user {
	margin-top: 2%;
	margin-left: 1%;
}

.users-profile {
	list-style: none;
	width: 100%;
	padding-left: 1%;
}

.users-profile-collective {
	float: left;
	/*margin-bottom: 5%;*/
}

.search-profile-gravatar {
	float: left;
	margin-right: 3%;
}

/*.search-profile-gravatar {
	margin: 1%;
}
*/
.users-profile-data {
	float: left;
	margin-bottom: 4%;
	width: 50%;
	/*margin-left: 3%;*/
}

/*--------------------------------------------------------------------------------*/

/*-----------------------------hide show button-----------------------------------*/

.hide-show-button {
	margin-left: 5%;
	color:#3498db;
	font-size: 80%;
}

.hide-show-button:hover{
	text-decoration: underline;
}

/*--------------------------------------------------------------------------------*/

/*-------------------------------Search Bar Effects--------------------------------*/

.form-second {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 40%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.form-second:focus {
	width: 50%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.form-second {
	/*width:100px;*/
	outline: none;
}

.search-button {
	border-radius: 30px;
}

.form {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 150px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.form:focus {
	color: black;
	width: 250px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/*--------------------------------------------------------------------------------*/

/*----------------------------Twitter and facebook--------------------------------*/

.fb {
	height: 20%;
	width: 20%;
	margin-left: 5%;
	margin-right: 10%;
}

.twitter {
	height: 22%;
	width: 22%;
	margin-left: 4%;
	margin-right: 4%;
}

.github {
	height: 20%;
	width: 20%;
	margin-left: 4%;
	margin-right: 10%;
}

.image-size {
	height: 100%;
}
/*--------------------------------------------------------------------------------*/



.mdl-layout {
  align-items: center;
  justify-content: center;
}
.mdl-layout__content {
  padding: 0px;
  flex: none;
}

.glyphicons-color {
	color: #7d8aaf;
}



.check{
	margin-right:85px;
}
body
{
	overflow-x:hidden;
}
.fix
{
	margin-right: auto;
	margin-left: auto;
}


img:hover
{
	opacity: 0.5;
}

#contact
{
	color: #337ab7;

}
#contact:hover
{
	color:#063989;
}
.contain
{
	color: black;
}




/*body {
	background: #fff;
	color: #666;
	font: 90%/180% Arial, Helvetica, sans-serif;
	/*width: 800px;
	max-width: 96%;
	margin: 0 auto;
} */

.tag {
	outline: none;
}




.tag::-webkit-search-decoration,
.tag::-webkit-search-cancel-button {
	display: none; 
}

.form {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	outline: none;
}


.tag:-moz-placeholder {
	color: #999;
}
.tag::-webkit-input-placeholder {
	color: #999;

}
.box
{
	padding-top: 25px;
	padding-right: 30px;
}

.tag_cloud
{
	width: 700px;
}
.trend
{
	width:80%;
	margin-left:2px;
	padding-right: 1px;
}